.header {
    height: 450px;
    width: 100%;
    background: rgb(62,57,107);
    font-family: "Nunito Sans ExtraBold";
}

.header_texture {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0; left: 0;
    background: url('../CSS/img/bg.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 1;
}
.header_navbar {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 999;
}

.header_navbar--logo--title {
    color: white;
    font-size: 30px;
}

.header_navbar--menu-link {
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.signup-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.signup-button a {
    display: block;
    padding: 10px 20px;
    background-color: #ff6a29;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.form-container {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Nunito Sans ExtraBold";
    z-index: 2;
}